@namespace AstroPanda.Blazor.Toolkit

<div class="context-menu" tabindex="0" style="transform: translateX(min(@(X)px, calc(100vw - 100%)))
             translateY(min(@(Y)px, calc(100vh - 100%))); z-index: 1405;" @onclick="Close">
    @Content
</div>