@namespace AstroPanda.Blazor.Toolkit

<div>
    @if (!string.IsNullOrWhiteSpace(_environment) && _showLabel)
    {
        <MudChip T="string" Color="@Color" Size="@Size">@_environment</MudChip>
    }
</div>