@namespace AstroPanda.Blazor.Toolkit.Components

<div @oncontextmenu="OpenContextMenu" @oncontextmenu:preventDefault @oncontextmenu:stopPropagation>
    @WrappedContent
</div>

@code {
    [Parameter]
    public RenderFragment WrappedContent { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OpenContextMenu { get; set; }
}
